__pycache__/
*.py[cod]

*~
*-
*.swp
*.save
.DS_Store

/build
/dist
/*.egg-info
/.pytest_cache

/env
/.env

/htpasswd
/log
/tmp
/profiles
/datasets
/.idea/.gitignore
/.idea/chemotion-converter-app.iml
/chemotion-converter-app.iml
/.idea/misc.xml
/.idea/modules.xml
/playground.py
/run_client.sh
/.idea/vcs.xml
.idea/

converter_app/reader_jsons/
